@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&family=Young+Serif&display=swap");

.container {
  font-family: young serif;
}

.container-view {
  height: 640px;
  position: absolute;
  margin-left: 50px;
}
.pets-img {
  margin-right: 80px;
  max-height: 100%;
  margin-top: 20px;
}

.container {
  margin-top: 30px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: brown;
}
