<div class="overall__container">
  <mat-dialog-content [formGroup]="petFormEdit" autocomplete="off">
    <h3>Edit Pet</h3>

    <mat-dialog-actions>
      <button class="btn btn-danger" (click)="close()">Back</button> |
      <button class="btn btn-warning" #saveButton (click)="save()">Save</button>

      |
      <button class="btn btn-success" (click)="getValues()" type="button">
        getValues
      </button>
    </mat-dialog-actions>

    <h2 mat-dialog-title>{{ petEditArray.name }}</h2>

    <mat-dialog-content>
      <p>ID: {{ petEditArray.id }}</p>
    </mat-dialog-content>

    <h4>Name</h4>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>

    <h4>Category</h4>
    <mat-form-field formGroupName="category">
      <mat-select
        placeholder="Select category"
        formControlName="id"
        (change)="onCategorySelect($event)"
      >
        <mat-option value="1"> Not selected</mat-option>
        <mat-option value="2"> Dog</mat-option>
        <mat-option value="3"> Cat</mat-option>
        <mat-option value="4"> Bird</mat-option>
        <mat-option value="5"> Fish</mat-option>
      </mat-select>
    </mat-form-field>

    <h4>Status</h4>
    <mat-form-field>
      <mat-select formControlName="status">
        <mat-option value="available"> Available</mat-option>
        <mat-option value="pending"> Pending</mat-option>
        <mat-option value="sold"> Sold</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
</div>
