.overall__container {
  padding: 12px;
  background-color: #f8f4f2;
  width: 50vh;
  height: auto;
  text-align: center;
}

::ng-deep mat-form-field,
::ng-deep .mat-mdc-text-field-wrapper,
input {
  width: 100%;
}

button {
  margin: 20px;
  width: calc(50% - 40px);
}
