<div class="overall__container" *ngIf="category">
  <mat-dialog-content [formGroup]="petFormEdit" autocomplete="off">
    <h3>Edit Pet</h3>

    <!-- * LATER TO DELETE THIS BUTTON -->
    <mat-dialog-actions>
      <button class="btn btn-warning" (click)="getValues()" type="button">
        getValues
      </button>
    </mat-dialog-actions>

    <h2 mat-dialog-title>{{ petEditArray.name }}</h2>

    <mat-dialog-content>
      <p>ID: {{ petEditArray.id }}</p>
    </mat-dialog-content>

    <h4>Name</h4>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>

    <h4>Category</h4>
    <mat-form-field>
      <mat-select
        formControlName="category"
        placeholder="Select category"
        [(ngModel)]="category.id"
      >
        <mat-option
          selected="true"
          *ngFor="let pet of categories"
          [value]="pet.id"
          >{{ pet.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <h4>Status</h4>
    <mat-form-field>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status.id">
          {{ status.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="btn btn-danger" (click)="close()">Back</button>
    <button class="btn btn-success" #saveButton (click)="save()">Save</button>
  </mat-dialog-actions>
</div>
