<div class="overall">
  <!-- <div class="container-view">
    <img src="../../assets/pets.png" class="pets-img" />
  </div> -->

  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img src="../../assets/pets4.jpg" />
        </div>
      </div>
    </div>
    <div class="text-container">
      <button class="btn btn-primary" routerLink="/list">
        Go back to the list
      </button>
      <h3>Pet Details:</h3>
      <ul class="list-group" *ngFor="let info of petArray">
        <li class="list-group-item"><b>Name: </b> {{ info.name }}</li>
        <li class="list-group-item"><b>Id: </b> {{ info.id }}</li>
        <li class="list-group-item"><b>Status: </b> {{ info.status }}</li>
        <li class="list-group-item">
          <b>Category: </b> {{ info.category.name }}
        </li>
        <li class="list-group-item">
          <b>Category Id: </b> {{ info.category.id }}
        </li>
        <li class="list-group-item"><b>Tag: </b> {{ info.tags.name }}</li>
        <li class="list-group-item"><b>Tag Id: </b> {{ info.tags.id }}</li>
      </ul>
    </div>

    <br />
    <br />
  </div>
</div>
