.overall__container {
  display: flex;
}

.container__img {
  height: 640px;
  position: relative;
  margin: 130px 0 0 50px;
}

.pets-img {
  max-height: 100%;
}

.container {
  margin-top: 30px;
  min-width: 300px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: brown;
}
