<div class="container-view">
  <img src="../../assets/pets.png" class="pets-img" />
</div>

<div class="container" style="margin-top: 110px">
  <div class="row">
    <div
      class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"
      style="margin-top: 20px"
    >
      <h2>Edit pet section</h2>
      <form
        style="margin-top: 50px"
        (ngSubmit)="onEditPet(formEditRef)"
        #formEditRef="ngForm"
      >
        <div class="form-group">
          <label for="index">Pet Index*</label>
          <input
            type="number"
            id="index"
            class="form-control"
            ngModel
            name="index"
            required
            pattern="^[1-9]\d*$"
          />
        </div>

        <!-- Warning Window in case of invalid data -->
        <!-- <span class="help-block" *ngIf="!indexRef.valid && indexRef.touched">Please enter a valid number.  </span> -->
        <hr />
        <h3>Category</h3>
        <div class="form-group">
          <label for="categoryI">Category Index</label>
          <input
            type="number"
            id="categoryI"
            class="form-control"
            ngModel
            name="categoryI"
            pattern="^[1-9]\d*$"
          />
        </div>
        <div class="form-group">
          <label for="categoryN">Category Name</label>
          <input
            type="text"
            id="categoryN"
            class="form-control"
            ngModel
            name="categoryN"
          />
          <!-- [(ngModel])="{{ pet.category.name }}" -->
        </div>
        <hr />
        <div class="form-group">
          <label for="name">Pet Name*</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
            required
            #nameRef="ngModel"
          />
        </div>
        <hr />

        <div class="form-group">
          <label for="photo">Pet Photo</label>
          <input
            type="text"
            id="photo"
            class="form-control"
            ngModel
            name="photo"
          />
        </div>
        <hr />

        <h3>Tags</h3>
        <div class="form-group">
          <label for="tagI">Tags Index</label>
          <input
            type="number"
            id="tagI"
            class="form-control"
            ngModel
            name="tagI"
            pattern="^[1-9]\d*$"
          />
        </div>
        <div class="form-group">
          <label for="tagN">Tag Name</label>
          <input
            type="text"
            id="tagN"
            class="form-control"
            ngModel
            name="tagN"
          />
        </div>
        <hr />
        <div class="form-group">
          <label for="status">Pet Status*</label>
          <select
            id="status"
            class="form-control"
            ngModel
            name="status"
            [ngModel]="defaultStatus"
            required
            #statusRef="ngModel"
          >
            <option value="Available">Available</option>
            <option value="Pending">Pending</option>
            <option value="Sold">Sold</option>
          </select>
        </div>

        <span class="help-block" *ngIf="!statusRef.valid && statusRef.touched"
          >Please choose a status.
        </span>

        <p class="help-block" *ngIf="!formEditRef.valid && formEditRef.touched">
          Please fill all the mandatory(*) inputs before beeing able to submit
          the editted form.
        </p>

        <button
          [disabled]="!formEditRef.valid"
          class="btn btn-warning"
          type="submit"
        >
          Edit
        </button>
        |

        <button class="btn btn-danger" type="button" (click)="OnCancel()">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
