/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&family=Young+Serif&display=swap");

body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

html,
body {
  /* height: 100%; */
}
body {
  font-family: young serif;
}

/* ! Doesn't work */
/* .custom .mat-dialog-container {
  border-radius: 30px !important;
} */
