<div class="background_img" style="margin-top: -240px">
  <img src="../../../assets/home_icon2.jpeg" />
</div>

<main class="table__wrapper">
  <section class="table__header">
    <h2>Pet Store Inventory</h2>
  </section>

  <section class="table__body">
    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>Name</th>
          <th>
            Status
            <select id="statusSelect">
              <option value="all">All</option>
              <option value="available">Available</option>
              <option value="pending">Pending</option>
              <option value="sold">Sold</option>
            </select>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of hardcodePetArray; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ pet.name }}</td>
          <td>
            <!-- ! DE ADAUGAT ngCLass CORESPUNZATOR LA PET STATUS -->
            <span class="status">{{ pet.status }}</span>
          </td>
          <td class="btn-group">
            <!-- VIEW PET DETAILS -->
            <span>
              <a>
                <img
                  src="../../../assets/eye.png"
                  style="cursor: pointer"
                /> </a
            ></span>
            <!-- EDIT PET DETAILS -->
            <span
              ><a
                ><img
                  src="../../../assets/edit.png"
                  style="cursor: pointer" /></a
            ></span>
            <!-- DELETE SINGLE PET -->
            <span
              ><img src="../../../assets/trash.png" style="cursor: pointer"
            /></span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
